/* Additions */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/LatoRegular.woff) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/LatoBold.woff) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url(../fonts/LatoItalic.woff) format('woff');
}

.navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.console-logo {
    height: 100px;
    width: 100px;
}

.container-navbar-pad {
    margin-bottom: 90px;
    padding-top:100px
}

.panel-transfer {
    height: 25em;
}

.panel-transfer-contacts {
    height: 12em;
    margin-bottom: 13px;
}

.panel-transfer-dropzones {
    min-height: 12em;
    max-height: 25em;
    overflow-y: auto;
}

.navbar {
    margin-bottom: 0px;
}

.no-top-margin {
    margin-top: 0px;
}

.no-bottom-margin {
    margin-bottom: 0px;
}

.fixed-footer {
    background: none repeat scroll 0 0 #fff;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: #777777;
    font-size: 0.9em;
    padding-bottom: 40px;
    position: fixed;
    width: 100%;
}

.contactinfo-icon {
    margin-right: 5px;
}

.panel-icon {
    margin-right: 10px;
}

.panel-search-button {
    padding-left: 10px;
}

.panel-file-list {
    margin-right: 30px;
    margin-left: 30px;
}

.panel-upload-body {
    height: 15.5em;
    overflow-y: auto;
    width: 18em;
    padding-top: 0;
}

.panel-recipient-body {
    height: 6em;
    overflow-y: auto;
    width: 18em;
    padding-top: 0;
}

.panel-recents-body {
    height: 7em;
    overflow-y: auto;
    width: 18em;
}

.panel-send-body {
    overflow-y: auto;
    padding-top: 0;
    width: 18em;
    text-align: center;
}

.panel-search {
    padding: 0px 5px !important;
    margin-bottom: 0px !important;
}

.panel-search-header {
    padding-bottom: 2px;
    padding-top: 8px;
}

.panel-search-title {
    padding-top: 2px;
}

.label-steps {
    border-radius: 1em;
    font-size: 150%;
    padding: 0.5em 0.5em;
    margin: 0.5em 0.5em;
}

.navbar .brand {
    margin-left: 20px;
    padding: 20px;
    position: absolute;
}

.modal-header {
    background-color: #ecf0f1;
    color: #000000;
}

.nav-menu-bar {
    line-height: 30px;
}

.navbar .nav .dropdown-toggle .caret {
    margin-top: 15px;
}

.cursor-pointer {
    cursor: pointer;
}

.panel-pointer:hover,
.panel-pointer:focus {
    cursor: pointer;
    color: #7b8a8b;
    text-decoration: none;
    background-position: 0 -15px;
    background-color: #f2f6f7;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.received-table {
    height: 25em;
    overflow:auto;
}

.table-received {
    margin-bottom: 0px;
}

.classification {
    height: 20px;
    width: 100%;
}

#upbar, #downbar {
    background-color: transparent;
    color: transparent;
    text-align: center;
}
#downbar {
    position: fixed;
    bottom: 0;
}

.top-bar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    left: 0;
    top: 0;
}

.label-text {
    padding-top: 5px;
    cursor: default;
}

.badge-received {
    margin-left: 5px;
}

.transfer-item {
    margin-left: 1em;
}

.transfer-item > b {
    vertical-align: middle;
    font-size: 17px;
}

.consent-banner {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
}

.consent-body {
    width: 640px;
    font-size: 14px;
}

.consent-header {
    text-align: center;
    padding-top: 60px;
}

.pagination ul > .active > a, .pagination ul > .active > a:hover {
    background-color: #d7dbdc;
}

.pagination ul > li > a {
    background-color: #ecf0f1;
    color: #000;
}

.pagination ul > li > a:hover {
    background-color: #d7dbdc;
}

.pagedropdown {
    width:75px;
}

/*Drag n Drop zone*/

#dropBox.empty {
    position: relative;
    border: 7px dotted #ecf0f1;
    border-radius: 20px;
    color: #2c3e50;
    font: bold 24px/200px arial;
    height: 7.8em;
    margin: 30px auto;
    text-align: center;
    width: 8em;
}

#dropBox.hover {
    border: 7px solid #2c3e50;
    color: #ecf0f1;
}

.send-message-button {
    height: 200px;
    width: 200px;
    text-align: center;
    align: top;
}

.settings-view {
    height: 20em;
    overflow: auto;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    background-color: #ecf0f1;
}

.controls-settings {
    margin-left: 320px;
}

.form-horizontal .control-settings-label {
    width: 300px;
}

.inline-button {
    padding-bottom: 10px;
    padding-top: 10px;
}

.failed-color {
    color:#e74c3c;
}

.downloaded-color {
    color:#18bc9c;
}

.new-color {
    font-weight:bold;
}

.intransit-color {
    color:#f39c12;
}

.icon-search {
    position:relative;
    left:-5px;
}

.search-box {
    position:relative;
    left:30px;
}

.input-error {
    color: #e74c3c;
}

.dropzone-block {
    display: inline-block;
    text-align: center;
    padding: 0px 40px;
}

.dropzone-icon {
    height: 8em;
    width: 8em;
    margin-left: 1em;
    margin-right: 1em;
}

.dropzone-title {
    margin-top: .7em;
}

.fileuploadie { display: none; }
.fileuploadie_latest_left {
    display: block;
    position: absolute;
    opacity: 0;
    left: 0;
    filter: alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    z-index: 1200;
    cursor: pointer;
}
.fileuploadie_latest_right {
    display: block;
    position: absolute;
    left: 45px;
    opacity: 0;
    filter: alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    z-index: 1200;
    cursor: pointer;
}

.help_text {
    position:absolute;
    display: inline;
    margin-top: 1.2em;
    margin-left: 1em;
}

.help_entry {
    margin-top: 1em;
}

.modal-large {
  margin-left: -500px;
  width: 1000px;
}

.dz-recipient {
  max-height: 240px;
  overflow: auto;
}

.file-not-available {
  color: gray;
  font-style: italic;
}