<span id="site" class="ng-cloak">
    <div class="container">
        <container>
            <div class="row top-section">
                <div class="span12">

                </div>
            </div>
            <div class="row-fluid main-section">
                <div class="span12 poll-box">
                    <row class="row option-row" ng-repeat="option in poll">
                        <div class="span12 poll-row">
                            <div class="span1 poll-cell poll-count-cell">
                                {{option.votes}}
                            </div>
                            <div class="span9 poll-cell">
                                {{option.name}}
                            </div>
                            <div class="span2 poll-cell poll-vote-cell" ng-show="true">
                                <button ng-hide="vote==option.id" type="button" ng-click="voteFor(option.id)" class="btn btn-medium btn-primary">
                                    Vote
                                </button>
                                <button ng-show="vote==option.id" type="button" ng-click="voteFor(0)" class="btn btn-medium btn-danger">
                                    Selected
                                </button>
                            </div>
                        </div>
                    </row>
                </div>
            </div>
        </container>
    </div>

</span>